# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build / dist
dist/
build/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
ai-resume-builder/backend/.env
